<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/back/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/back/js/jquery.js"></script>
<script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>
<script type="text/javascript" src="/static/back/kindeditor/kindeditor-all.js"></script>
<script src="/static/laydate/laydate.js"></script>
    <script src="/static/cxSelect/jquery.cxselect.min.js"></script>

 
  
<script type="text/javascript">
	$(document).ready(function(e) {
	    $(".select1").uedSelect({
			width : 345			  
		});
		$(".select2").uedSelect({
			width : 167  
		});
		$(".select3").uedSelect({
			width : 100
		});

	});

</script>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    <div id="usual1" class="usual"> 
  	<div id="tab1" class="tabson">
 
    
    <ul class="forminfo">
    <li><label>姓名<b>*</b></label><input name="user_name" type="text" class="dfinput"
                                          placeholder="请填写姓名"  style="width:518px;"/></li>
    <li><label>电话<b>*</b></label><input name="user_tel" type="text" class="dfinput"
                                      placeholder="请填写手机号"  style="width:518px;"/></li>
    <li><label>密码<b>*</b></label><input name="user_pwd" type="password" class="dfinput"
                                        placeholder="请输入密码"  style="width:518px;"/></li>
    <li><label>生日<b>*</b></label><input name="user_birthday" type="text" id="birthday" class="dfinput"
                                      placeholder="请填写生日"  style="width:518px;"/></li>
<script>
    //执行一个laydate实例
laydate.render({
  elem: '#birthday', //指定元素
  type: 'datetime'
});
</script>
    <li><label>审核<b>*</b></label><input name="user_is_recommend" type="text" class="dfinput"
                                  placeholder="请填写审核状态"  style="width:518px;"/></li>
    <li><label>职位名称<b>*</b></label>  
    

    <div class="vocation"  >
    {% for v in role_list %}
        <input type="checkbox"  name="user_work" value="{{ v.role_id }}" >{{ v.role_name }}
    {% endfor %}
    </div>

    <li><label>籍贯<b>*</b></label>
    
    <div class="usercity">
    
    <div class="cityleft"  >
    <fieldset id="city_china" name="user_adders">
   <p>省份：<select class="province" style="border: black 1px  background:red" name="province" data-value="" data-first-title="选择省" disabled="disabled"></select></p>
   <p>城市：<select class="city" name="city" data-value="" data-first-title="选择市" disabled="disabled"></select></p>
   <p>地区：<select class="area" name="area" data-value="" data-first-title="选择地区" disabled="disabled"></select></p>
</fieldset>
        <script>
             $('#city_china').cxSelect({
     url : '/static/cxSelect/cityData.min.json',  //联动json数据
     selects: ['province', 'city', 'area']           //select框对应class
     // nodata: 'none'                               //无子类别时不显示下拉框
 });



        </script>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    
    </div>
    
    
    
    </li>

    <li><label>&nbsp;</label><input name="" type="submit" class="btn" placeholder="添加"/></li>
    </ul>
    
    </div> 
    
    
  	
       
	</div> 
 
    
    </div>

</form>
</body>

</html>
