<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/back/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/back/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/back/js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>

    <script type="text/javascript" src="/static/plupload/moxie.js"></script>
    <script type="text/javascript" src="/static/plupload/plupload.min.js"></script>
    <script src="/static/layer/layer.js"></script>


    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });


        });

    </script>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>


    <ul class="forminfo">
    <li><label>权限名字<b>*</b></label><input name="permission_name" type="text" class="dfinput" value="{{ permission_name }}"
                                        style="width:518px;"/></li>
    <li><label>权限地址<b>*</b></label><input name="permission_path" type="text" class="dfinput" value="{{ permission_path }}"
                                        style="width:518px;"/></li>

    <li><label>上级权限<b>*</b></label>


    <div class="vocation">
    <select class="select1" name="permission_pid_id">
        {% for v in permission_list %}
            <option value=""><b>无父级菜单</b></option>
         <option value="{{ v.permission_id }}" {% if v.permission_id == permission_pid_id %}
                    selected
                    {% endif %} ><b>{{ v.permission_name }}</b></option>
        {% endfor %}
    </select>
    </div>

    </li>

    <li><label>&nbsp;</label><input name="dosubmit" type="submit" class="btn" value="马上发布"></li>



    </ul>



</form>

</body>

</html>
