<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/back/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/back/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/back/js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>

    <script type="text/javascript" src="/static/back/kindeditor/kindeditor-all.js"></script>

    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                width: "800",
                height: "600",
                resizeType: 0,
                uploadJson: "/back/comment/upload/",
                extraFileUploadParams: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                filePostName: "upload_img"//上传图片的名称
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });


        });

    </script>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">系统设置</a></li>
        </ul>
    </div>


    <div id="tab1" class="tabson">


        <ul class="forminfo">
            <li><label>评论时间<b>*</b></label><input name="comment_addtime" value="{{ comment_addtime|date:"Y-m-d" }}" type="text"
                                                  class="dfinput"
                                                  placeholder="请填写评论时间" style="width:518px;"/></li>


            <li><label>作者<b>*</b></label>


                <div class="vocation">
                    <select class="select1" name="member_name" >
                        {% for v in member_obj %}
                            <option {% if v.member_name == member_name %}
                    selected
                    {% endif %}>{{ v.member_name }}</option>

                        {% endfor %}
                    </select>
                </div>
            </li>
        <li><label>文章<b>*</b></label>


                <div class="vocation">
                    <select class="select2" name="article_title" >
                        {% for v1 in article_obj %}
                            <option {% if v1.article_title == article_title %}
                    selected
                    {% endif %}>{{ v1.article_title }}</option>

                        {% endfor %}
                    </select>
                </div>
            </li>
    <li><label>评论内容<b>*</b></label><textarea id="content"  name="content" style="width:700px;height:250px;">{{ content|safe }}</textarea>
            </li>


            <li><input type="submit" class="btn" /></li>
        </ul>

    </div>


</form>

</body>

</html>
