<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{#{% load my_tags %}#}
{#{% multi_tag 2 3 %}#}
{#{% multi_tag 4 5 %}#}
{##}
{##}
{#<div class="rightbox">#}
{#{% rightArticle '1' %}#}
{#</div>#}
{##}


<form action="" method="post">
    {% csrf_token %}
    <div>用户名：<input type="text" name="member_name"></div>
<input type="submit" value="提交">

</form>


</body>
</html>