<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/back/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/back/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/back/js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>

    <script type="text/javascript" src="/static/back/kindeditor/kindeditor-all.js"></script>

    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                width: "800",
                height: "600",
                resizeType: 0,
                uploadJson: "/back/article/upload/",
                extraFileUploadParams: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                filePostName: "upload_img",//上传图片的名称
                {#afterBlur:function(){this.sync();}#}
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });


        });

    </script>
</head>

<body>


	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/">首页</a></li>
    </ul>
    </div>

<form action="" method="post">
        {% csrf_token %}
    <ul class="forminfo">
    <li><label>标题<b>*</b></label><input name="article_title" type="text" class="dfinput" value="{{ article_title }}"
                                        style="width:518px;"/></li>

{#    <li><label>发布日期<b>*</b></label><input name="article_addtime" type="text" class="dfinput" value="{{ article_title }}"#}
{#                                        style="width:518px;"/></li>#}

    <li><label>文章图片<b>*</b></label><input name="article_img" type="text" class="dfinput" value="{{ article_img }}"
                                        style="width:518px;"/></li>


    <li><label>文章内容<b>*</b></label><textarea id="content"  name="article_content" style="width:700px;height:250px;">{{ article_content|safe }}</textarea>

    </li>
    <li><label>&nbsp;</label><input name="dosubmit" type="submit" class="btn" value="马上发布"></li>



    </ul>



</form>

</body>

</html>
