<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/back/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/back/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/back/js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>

    <script type="text/javascript" src="/static/plupload/moxie.js"></script>
    <script type="text/javascript" src="/static/plupload/plupload.min.js"></script>
    <script src="/static/layer/layer.js"></script>

    <script type="text/javascript" src="/static/back/kindeditor/kindeditor-all.js"></script>

    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#content', {
                width: "800",
                height: "600",
                resizeType: 0,
                uploadJson: "/back/comment/upload/",
                extraFileUploadParams: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                filePostName: "upload_img"//上传图片的名称
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });


        });

    </script>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>


    <ul class="forminfo">
    <li><label>标题<b>*</b></label><input name="article_title" type="text" class="dfinput" value="{{ article_title }}"
                                        style="width:518px;"/></li>
    <li><label>点击量<b>*</b></label><input name="article_clicknum" type="text" class="dfinput" value="{{ article_clicknum }}"
                                        style="width:518px;"/></li>
    <li><label>发布日期<b>*</b></label><input name="article_addtime" type="text" class="dfinput" value="{{ article_addtime|date:"Y-m-d"  }}"
                                        style="width:518px;"/></li>
    <li><label>是否推荐<b>*</b></label>
        是<input type="radio"  name="article_is_recommend"  value="1"  {% if article_is_recommend == 1  %} checked {% endif %} >
        否<input type="radio"  name="article_is_recommend" value="0"  {% if article_is_recommend == 0  %} checked {% endif %} >

    </li>
    <li><label>文章图片<b>*</b></label>
        <img width="100px" height="100px" src="{{ article_img }}" alt=""><input name="article_img"  value="{{ article_img }}" >
                                        </li>
    <li><label>作者名称<b>*</b></label>


    <div class="vocation">
    <select class="select1" name="member_name">
        {% for v in member_obj %}
         <option {% if v.member_name == member_name %}
                    selected
                    {% endif %} >{{ v.member_name }}</option>
        {% endfor %}
    </select>
    </div>

    </li>

    <li><label>文章内容<b>*</b></label><textarea id="content"  name="content" style="width:700px;height:250px;">{{ article_content|safe }}</textarea>

    </li>
    <li><label>&nbsp;</label><input name="dosubmit" type="submit" class="btn" value="马上发布"></li>



    </ul>



</form>
<script language="JavaScript">
        var msgLayero_upload_image_name;
        var index_upload_image_name;
        var layer_upload_image_name = 1;
        //实例化一个plupload上传对象
        var uploader_upload_image_name = new plupload.Uploader({
            browse_button: 'upload_image_name', //触发文件选择对话框的按钮，为那个元素id
            url: '/back/article/upload2/', //服务器端的上传页面地址
            flash_swf_url: '/static/plupload/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
            silverlight_xap_url: '/static/plupload/Moxie.xap', //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
            multipart_params: {
                type: 'image_name',
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            resize: {
                width: 800//指定压缩后图片的宽度，如果没有设置该属性则默认为原始图片的宽度
                //height: , //指定压缩后图片的高度，如果没有设置该属性则默认为原始图片的高度
                //crop: false //是否裁剪图片
            },
            filters: {
                max_file_size: '4mb'
            },
            init: {
                //选择文件
                FilesAdded: function (up, files) {
                    //加载层
                    index_upload_image_name = layer.msg('上传中...', {
                        icon: 16, time: 0,
                        shade: 0.01,
                        success: function (layero, index) {
                            msgLayero_upload_image_name = layero;//是加载层的div
                        }
                    });
                    //layer_upload_image_name = layer.msg('上传中...', {time: 0}); //不自动关闭
                    uploader_upload_image_name.start();
                },
                UploadProgress: function (up, file) { //上传中，显示进度条
                    var percent = file.percent;
                    msgLayero_upload_image_name.find('.layui-layer-content').html('<i class="layui-layer-ico layui-layer-ico1"></i>上传中...' + percent + '%');

                },//单个文件上传完成
                FileUploaded: function (up, file, responseObject) {
                    console.log($.parseJSON(responseObject.response));//成功回调函数

{#                    $('#image_name_list').html('');#}
                    var result = $.parseJSON(responseObject.response);
                    if (result.status === 1) {
                        //上传成功
                        var htmls = '<li class="img_upload" style="position:relative;margin:0 10px -10px 0;">';
                        htmls += '<input  type="hidden" name="image_name[]" value="" ' + result.file + '">'; //隐藏域，是为了把图片地址入库。。
                        htmls += '<img src="' + result.file + '" width="250"  >';
                        htmls += '<span  style="position:absolute;top:-8px;right:-6px;background-color:#fff;border-radius:10px;"><a href=javascript:; class="delImg" data-val="'+result.file+'">&nbsp;<img src="/static/images/del.png" width="15" /></a></span>';
                        htmls += '</li>';

                        $('#image_name_list').append(htmls);
                        //上传成功的弹出框
                        msgLayero_upload_image_name.find('.layui-layer-content').html('<i class="layui-layer-ico layui-layer-ico1"></i>' + result.message);

                    } else {
                        //上传失败的弹出框
                        msgLayero_upload_image_name.find('.layui-layer-content').html('<i class="layui-layer-ico layui-layer-ico2"></i>' + result.message);

                    }
                    setTimeout(function () {
                        layer.close(index_upload_image_name);
                    }, 2000);

                },
                //全部文件上传完成
                UploadComplete: function (up, files) {
                    setTimeout(function () {
                        layer.close(index_upload_image_name);
                    }, 2000);
                },
                //返回错误
                Error: function (up, err) {
                    msgLayero_upload_image_name.find('.layui-layer-content').html('<i class="layui-layer-ico layui-layer-ico2"></i>' + result.message);
                    setTimeout(function () {
                        layer.close(index_upload_image_name);
                    }, 2000);
                }
            }
        });

        uploader_upload_image_name.init();

    $(document).on('click', '.delImg', function () {
        _this=this;
        $.post('{% url "back:article/delImg/" %}', {
            path: $(_this).data("val"),
            csrfmiddlewaretoken: "{{ csrf_token }}"
        }, function (json) {
            if (json.status === 1) {
                layer.msg("删除成功", {
                    time: 2000 //2s后自动关闭
                });
               $(_this).parent().parent().remove();
            } else {
                layer.msg("删除失败", {
                    time: 2000 //2s后自动关闭
                });
            }
        }, 'json');
    });

    </script>
</body>

</html>
