<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/back/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/back/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/back/js/jquery.js"></script>
<script type="text/javascript" src="/static/back/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="/static/back/js/select-ui.min.js"></script>

<script type="text/javascript" src="/static/back/kindeditor/kindeditor-all.js"></script>
    <script>
            KindEditor.ready(function(K) {
                    window.editor = K.create('#content',{
                        width:"800",
                        height:"600",
                        resizeType:0,
                        uploadJson:"/back/article/upload/",
                        extraFileUploadParams:{
                            csrfmiddlewaretoken:"{{ csrf_token }}"
                        },
                        filePostName:"upload_img"//上传图片的名称
                    });
            });
</script>
 
  
<script type="text/javascript">
	$(document).ready(function(e) {
	    $(".select1").uedSelect({
			width : 345			  
		});
		$(".select2").uedSelect({
			width : 167  
		});
		$(".select3").uedSelect({
			width : 100
		});

{#		//加载富文本编辑器#}
{#	        KindEditor.ready(function(K) {#}
{#	            K.create('#content', {#}
{#	                allowFileManager : true,#}
{#	                filterMode:true,#}
{#	                afterBlur:function(){#}
{#	                    this.sync("#content");#}
{#	                }#}
{#	            });#}
{#	        });#}
	});

</script>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>
{#    #}
{#    <div class="formbody">#}
{#    <div id="usual1" class="usual"> #}
{#  	<div id="tab1" class="tabson">#}
{# #}
    
    <ul class="forminfo">

    <div class="vocation">
    <select class="select1" name="member">
        {% for v in member_obj %}
         <option>{{ v.member_name }}</option>
        {% endfor %}
    </select>
    </div>

    </li>

    <li><label>文章标题<b>*</b></label>

    <div class="vocation">
    <select class="select1" name="artical">
        {% for v1 in article_obj %}

             <option><b>{{ v1.article_title }}</b></option>

        {% endfor %}

    </select>
    </div>



    </li>
{#    <li><label>工作地点<b>*</b></label>#}
{#    #}
{#    <div class="usercity">#}
{#    #}
{#    <div class="cityleft">#}
{#    <select class="select2">#}
{#    <option>江苏</option>#}
{#    <option>湖南</option>#}
{#    <option>广东</option>#}
{#    <option>北京</option>#}
{#    <option>湖北</option>#}
{#    </select>#}
{#    </div>#}
{#    #}
{#    <div class="cityright">#}
{#    <select class="select2">#}
{#    <option>南京</option>#}
{#    <option>无锡</option>#}
{#    <option>盐城</option>#}
{#    <option>徐州</option>#}
{#    <option>连云港</option>#}
{#    </select>#}
{#    </div>#}
{#    #}
{#    </div>#}
{#    #}
{#    #}
{#    #}
{#    </li>#}
{#    <li><label>文章内容<b>*</b></label><textarea id="content" name="content" style="width:700px;height:250px;"></textarea>#}

    </li>
    <li><label>&nbsp;</label><input name="dosubmit" type="submit" class="btn" value="马上发布"></li>

{#    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="dosubmit" value="提交"/></li>#}


    </ul>


    </div> 
    

  	
       
	</div> 
 
    
    </div>
</form>

</body>

</html>
